{# {% extends 'base.html.twig' %} #}



{# Load CSS (TailWind) #}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('react/index') }}
{% endblock %}

{% block body %}



<div id="react-root"></div>

{% endblock %}
